
.create_page_container {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  height: 100vh;
  justify-content: space-around;
 
}

.collector_container {
  background-color: aquamarine;
  flex: 0 0 45vh
  
}


.filler_container{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  flex: 0 0 45vh
  
}

#part_title_picker {



}

.fab_next {
  bottom : 5vh;
  right: 5vw;
  position: fixed;
  background-color: brown;
}


.fab_previous {
  bottom: 5vh;
  left: 5vh;
  position: fixed;
}

